.header-container {
  padding-top: 10rem;
  min-height: 100vh;
}

.website-navigation {
  img {
    max-width: 20rem;
  }
}

.nav-container {
  max-width: 165rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navigation-sticky-properties {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.4rem;
  z-index: 1;
  transition: top 0.5s;
}

.close-navigation-btn {
  display: none;
}

.close-btn {
  font-size: 4rem;
  color: var(--color-black);
}

.hamburger-icon {
  display: none;
  color: var(--color-black);
}

.nav-wrapper {
  display: flex;

  ul {
    display: flex;
  }

  a {
    font-size: 2.5rem;
    margin-left: 2.5rem;
    font-family: chaloops, 'Kalam', sans-serif;
    font-weight: 600;
    padding: 0.3rem;
  }

  a:hover {
    background-color: var(--color-strong-blue);
    padding: 0.3rem;
    transition: 500ms;
  }

  p {
    font-size: 1.5rem;
    font-family: chaloops, 'Kalam', sans-serif;
    font-weight: 600;
  }
}

.theme-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
  }
}

.theme-btn {
  padding: 0.9rem;
  border-radius: 50%;
  border: 1px solid var(--color-dark-grey);
}

.active-theme {
  border: 2px solid var(--color-black);
}

.white-theme-btn {
  background-color: var(--color-white);
}

.pink-theme-btn {
  background-color: var(--color-light-pink);
}

.blue-theme-btn {
  background-color: var(--color-light-blue);
}

.home-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}

.home-h1-animation {
  animation: change-h1-color 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes change-h1-color {
  from {
    color: black;
  }

  to {
    color: var(--color-strong-pink);
  }
}

.introduction-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 45%;

  img {
    max-width: 20rem;
    animation: animate-ewa-avatar 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-direction: alternate;
  }

  div {
    margin-left: 2rem;
  }
}

@keyframes animate-ewa-avatar {
  from {
    transform: rotate(2deg);
  }

  to {
    transform: rotate(6deg);
  }
}

.pug-cards-wrapper {
  display: flex;
  min-width: 50%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40rem;
  width: 28rem;
  margin-left: 4rem;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.8rem rgb(133, 133, 133));

  img {
    max-width: 25rem;
    animation: move-heads 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-direction: alternate;
  }

  h3 {
    font-size: 3rem;
  }
}

@keyframes move-heads {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(5deg);
  }
}

.Mikey {
  background-color: #0f9a95;
  transform: rotate(-10deg);
}

.Molly {
  background-color: #ff70cf;
  transform: rotate(10deg) translateY(5rem);
}

.section-1-home {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  max-width: 110rem;
  background-color: var(--color-strong-blue);
  padding: 5rem;
  border-radius: 5px;

  button {
    margin-right: 2rem;
    margin-top: 1.5rem;
  }
}

.section-1-home-text {
  max-width: 60%;
}

.section-1-home-graphic {
  max-width: 50%;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-yellow);
    height: 40rem;
    width: 28rem;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.8rem rgb(169, 168, 168));
    transform: rotate(-4deg);

    h3 {
      font-size: 3rem;
    }
  }
}

.section-2-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.section-2-home-text {
  max-width: 40%;
}

.slider-wrapper {
  margin-top: 3rem;
  min-width: 60%;
  min-height: 70rem;
  position: relative;
  overflow: hidden;
  background-color: var(--color-black);
  border-radius: 5px;

  .slide {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 1s;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      object-position: center center;
    }
  }
}

.img-label {
  position: absolute;
  top: 5%;
  left: 2%;
  font-family: chaloops, 'Kalam', sans-serif;
  font-weight: 600;
  background-color: var(--color-strong-blue);
  padding: 0.3rem;
  border-radius: 5px;
}

.slider-btn {
  font-size: 4rem;
  position: absolute;
  color: var(--color-strong-pink);
}

.slider-btn:hover {
  color: var(--color-strong-pink-hover);
  transition: 500ms;
}

.next-slide-btn {
  top: 50%;
  right: 2%;
}

.previous-slide-btn {
  top: 50%;
  left: 2%;
}

.blog-posts-container {
  display: grid;
  align-items: stretch;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  width: 100%;
  overflow: hidden;
}

.post {
  background-color: var(--color-light-grey);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 5px;
  img {
    object-fit: cover;
    height: 30rem;
    width: 30rem;
    border-radius: 5px;
  }

  h4 {
    margin-top: 2rem;
  }
}

.tags-wrapper {
  position: absolute;
  top: 2%;
  left: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  div {
    background-color: var(--color-strong-blue);
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;

    h5 {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }
  }
}

.section-4-home {
  background-color: #ff8f1e;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;

  img {
    max-width: 15rem;
    margin-top: 2rem;
    filter: drop-shadow(0 0 0.4rem rgb(43, 43, 43));
  }
}

.social-media-icons-wrapper {
  display: flex;
}

.social-media-icon {
  color: var(--color-strong-pink);
  font-size: 5rem;
}

.social-media-icon:hover {
  color: var(--color-strong-pink-hover);
  transition: 500ms;
}

.section-5-home {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-strong-pink);
  border-radius: 5px;
  padding: 3rem;
  margin-left: auto;
  margin-right: auto;

  img {
    max-width: 10rem;
    margin-bottom: 2rem;
  }
}

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: var(--color-strong-blue);
  // position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 1rem;
  border-radius: 5px;

  h5 {
    margin-left: 2rem;
    background-color: var(--color-yellow);
    padding: 0.5rem;
    border-radius: 5px;
  }

  .social-media-icons-wrapper {
    margin-left: 2rem;
  }
}

.section-gang-members {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-very-light-grey);
  padding: 3rem;
  max-width: 80%;
  max-height: 80vh;
  border-radius: 5px;
  overflow: scroll;
  overflow-x: hidden;
}

.close-btn {
  position: absolute;
  right: 1%;
  top: 1%;
}

.close-btn:hover {
  color: var(--color-dark-grey);
  transition: 500ms;
}

.gang-members-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
}

.member {
  background-color: var(--color-light-pink);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 40rem;
  min-width: 20rem;
  border-radius: 5px;
  img {
    max-width: 15rem;
  }

  h4,
  h5 {
    margin: 0;
  }

  h5 {
    font-size: 1.3rem;
  }
}

.join {
  position: fixed;
  right: 0;
  bottom: 0;
  font-family: chaloops, 'Kalam', sans-serif;
  font-weight: 600;
  color: var(--color-black);
  background-color: var(--color-strong-blue);
  padding: 1rem;
  font-size: 2rem;
  border: 2px solid var(--color-black);
}

.join:hover {
  color: var(--color-dark-grey);
}

.sign-up-to-gang-container {
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-very-light-grey);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 120rem;
  padding: 4rem;
  border-radius: 5px;

  li {
    font-size: 1.6rem;
  }
}

.sign-up-text-wrapper {
  margin-right: 2rem;
}

//Styling MailChimp form

//Default ones
#mc_embed_signup {
  background: var(--color-light-blue);
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  max-width: 45%;
  border-radius: 5px;
  margin-top: 1rem;
}

#mc-embedded-subscribe-form input[type='checkbox'] {
  display: inline;
  width: auto;
  margin-right: 10px;
}
#mergeRow-gdpr {
  margin-top: 20px;
}
#mergeRow-gdpr fieldset label {
  font-weight: normal;
}
#mc-embedded-subscribe-form .mc_fieldset {
  border: none;
  min-height: 0px;
  padding-bottom: 0px;
}

//

#mc_embed_signup form {
  p,
  a {
    font-size: 1.2rem;
  }
}

#mc_embed_signup .mc-field-group label {
  display: flex;

  span {
    font-family: chaloops, 'Kalam', sans-serif;
    font-weight: 600;
  }
}

#mc_embed_signup .asterisk {
  top: -10px;
}

#mc_embed_signup .mc-field-group label {
  font-family: chaloops, 'Kalam', sans-serif;
  font-weight: 600;
}

#mc_embed_signup .button {
  background-color: var(--color-strong-pink);
  color: var(--color-white);
  font-weight: 600;
}

#mc_embed_signup .button:hover {
  background-color: var(--color-strong-pink-hover);
}

.highlight-form:after {
  content: '*';
  color: #e85c41;
  font-size: 2rem;
  position: absolute;
  transform: translateY(-1rem);
}

////////

.welcome-letter-container {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  background-color: var(--color-very-light-grey);
  border-radius: 5px;
  max-width: 60rem;
}

.cookies-container {
  @extend .welcome-letter-container;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 40rem;

  p,
  a,
  .highlight {
    font-size: 1.5rem;
  }
}

.hide {
  display: none;
}

.full-background-overlay {
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.576);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.blog-post-container {
  display: flex;
  max-width: 120rem;
  margin: auto;
  margin-top: 3rem;
  margin-top: 12rem;
  position: relative;
}

.header-post-wrapper {
  display: flex;
}

.post-date {
  color: var(--color-strong-pink);
  font-weight: 600;
  font-family: chaloops, 'Kalam', sans-serif;
  margin-right: 1rem;
}

.post-content-wrapper {
  max-width: 70%;
  // padding: 3rem;

  header {
    .post-head-img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      max-width: 100%;
      max-height: 50rem;
      margin-bottom: 3rem;
    }
  }
}

.back-to-home-page {
  font-weight: 600;

  i {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
}

.back-to-home-page:hover {
  color: var(--color-dark-grey);
  transition: 500ms;
}

.post-aside-container {
  margin-left: 2rem;
  max-width: 60rem;
  height: 30vh;
  position: -webkit-sticky;
  position: sticky;
  top: 15%;
}

.social-media-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow);
  padding: 2rem;
  border-radius: 5px;

  h4 {
    text-align: center;
  }
}

.join-gang-banner {
  @extend .social-media-banner;
  background-color: var(--color-strong-blue);
  margin-top: 2rem;

  p,
  .highlight {
    font-size: 1.6rem;
  }

  button {
    font-size: 1.6rem;
  }
}

.section {
  transition: transform 1s, opacity 1s;
  scroll-margin: 120px;
}

.section-hidden {
  transform: translateY(8rem);
  // opacity: 0;
}

.privacy-policy-container {
  min-height: 100vh;
  margin-top: 15rem;
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
}
