* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --color-white: white;
  --color-black: black;
  --color-light-pink: #ffeffd;
  --color-strong-pink: #ff1fcf;
  --color-strong-pink-hover: #d901ab;
  --color-light-blue: #e2feff;
  --color-strong-blue: #6bfff5;
  --color-yellow: #ff8f1e;
  --color-yellow-hover: #e37a0f;
  --color-dark-grey: #707070;
  --color-light-grey: #dbdbdb;
  --color-very-light-grey: rgb(249, 249, 249);
}

html {
  font-size: 62.5%;
  position: relative;
}

body {
  // padding: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: chaloops, 'Kalam', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--color-black);
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.5rem;
}

h2,
h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.1rem;
}

p,
a,
ul,
li {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
  color: var(--color-black);
}

p {
  margin-bottom: 1.5rem;
  b {
    @extend p;
    font-weight: 600;
  }

  strong {
    font-family: chaloops, 'Kalam', sans-serif;
    font-weight: 600;
  }
}

button {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-white);
}

::-webkit-scrollbar-thumb {
  background: var(--color-strong-pink);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-strong-pink-hover);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.hide {
  display: none;
}

.yellow-btn {
  background-color: var(--color-yellow);
  font-weight: 600;
  font-size: 2rem;
  padding: 2rem 2.5rem;
  border-radius: 5px;
  color: var(--color-black);
}

.yellow-btn:hover {
  background-color: var(--color-yellow-hover);
  transition: 500ms;
}

.pink-btn {
  @extend .yellow-btn;
  background-color: var(--color-strong-pink);
  color: var(--color-white);
}

.pink-btn:hover {
  background-color: var(--color-strong-pink-hover);
}

.highlight {
  font-family: chaloops, 'Kalam', sans-serif;
  font-weight: 600;
  background-color: #ffdcf7;
  padding: 0 0.5rem;
  border-radius: 5px;
}

.section-divider {
  margin-bottom: 15rem;
}

.post-section-divider {
  margin-bottom: 5rem;
}
